<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="" method="post">

        <table border="1" align="center" cellpadding="10">
            <tr>
                <td>Email</td>
                <td><input type="text" name="txt_email" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="txt_password" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"> <input type="submit" value="Login"> </td>

            </tr>

        </table>


    </form>
</body>

</html>